WebApplicationPoderosa/Connected Services/WSEmployeeService/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://podera.com/employee" elementFormDefault="qualified" targetNamespace="http://podera.com/employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1421/EmployeeService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
  <xs:element name="EmployeeRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://tempuri.org/" minOccurs="0" ref="q1:EmployeeId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="EmployeeInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>