WebApplicationPoderosa/Connected Services/WSEmployeeService/EmployeeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="tns:MessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInformation" nillable="true" type="tns:ErrorInformation" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Information" />
      <xs:enumeration value="Warning" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>