WFNetTcpDemo/Connected Services/WCFPersonService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPersonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPersonService_Transfer1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx">
        </oletx:OleTxAssertion>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPersonService_Transfer2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <oletx:OleTxAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:oletx="http://schemas.microsoft.com/ws/2006/02/tx/oletx" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy">
        </oletx:OleTxAssertion>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Transfer1_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer1" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Transfer1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Transfer1Response" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Transfer2_InputMessage">
    <wsdl:part name="parameters" element="tns:Transfer2" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Transfer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Transfer2Response" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPersonService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonById" message="tns:IPersonService_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonByIdResponse" message="tns:IPersonService_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Transfer1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/Transfer1" message="tns:IPersonService_Transfer1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/Transfer1Response" message="tns:IPersonService_Transfer1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Transfer2">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/Transfer2" message="tns:IPersonService_Transfer2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/Transfer2Response" message="tns:IPersonService_Transfer2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPersonService" type="tns:IPersonService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPersonService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPersonById">
      <soap12:operation soapAction="http://tempuri.org/IPersonService/GetPersonById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer1">
      <wsp:PolicyReference URI="#NetTcpBinding_IPersonService_Transfer1_policy">
      </wsp:PolicyReference>
      <soap12:operation soapAction="http://tempuri.org/IPersonService/Transfer1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer2">
      <wsp:PolicyReference URI="#NetTcpBinding_IPersonService_Transfer2_policy">
      </wsp:PolicyReference>
      <soap12:operation soapAction="http://tempuri.org/IPersonService/Transfer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="NetTcpBinding_IPersonService" binding="tns:NetTcpBinding_IPersonService">
      <soap12:address location="net.tcp://localhost:9600/PersonService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9600/PersonService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>