WFNetTcpDemo/Connected Services/WCFPersonService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" />
  <xs:element name="GetPersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" minOccurs="0" name="GetPersonByIdResult" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" minOccurs="0" name="desde" nillable="true" type="q2:Account" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" minOccurs="0" name="hacia" nillable="true" type="q3:Account" />
        <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Transfer1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" minOccurs="0" name="desde" nillable="true" type="q4:Account" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicePoderosa.Contracts.Contracts" minOccurs="0" name="hacia" nillable="true" type="q5:Account" />
        <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Transfer2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>